* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background-color: #14127d;
    line-height: 50px;
    padding-left: 60px;
    display: flex;
    padding-right: 30px; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.welcome_msg {
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-left: 30px;
}

.right-btns {
    display: flex;
    gap: 25px;
    padding-right: 25px;    
    justify-content: space-between;
    justify-items: center;
    align-items:center;
    color: white;
    font-size: 15px;
    text-decoration: none;

}

.right-btns:hover {
    color: rgb(14, 126, 171);
    text-decoration: none;
}

/* .logout-btn {
    padding-right: 30px; 
    width: 100px;
    height: 30px;
    float : right;
    justify-items: center;
    justify-content: center;
    background-color: aquamarine;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 2px;
}

.logout-btn:hover {
    background-color: #20b1a5;
} */

#menu_btn {
    font-size: 18px;
    /* padding: 10px; */
    cursor: pointer;
    border: none;
    /* background: #333; */
    color: white;
    /* margin: 20px; */
    text-decoration: none;
    display: inline-block;
}

aside {
    width: 20px;
    height: 100vh;
    background: skyblue;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 50px;
    left: -250px; /* Initially hidden */
    transition: left 0.3s ease-in-out;
    padding-top: 0px;
}

ul {
    background-color: skyblue;
    width: 16%;
    height: 100%;
    position: fixed;
    padding-top: 5%;
    text-align: center;
    text-decoration: none;
}

ul li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 18px;
}

ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    /* padding-left: 10px; */
}

ul li a:hover {
    color: rgb(14, 126, 171);
    text-decoration: none;
}

.content {
    display : flex;
    flex-direction: column;
    width: 100%;
    background: fixed;
    background-color:rgb(246, 175, 175);
    /* margin-left: 200px; */
    /* padding: 20px; */
    /* transition: margin-left 0.3s ease-in-out; */
} 

.content p {
    font-size: 18px;
    text-align: center;
    padding: 50px;
}

.main_img {
    padding-top: 60px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.data_sheet {
    padding-top: 150px;
    padding: 60px;
    padding-bottom: 100px;
    width: 100%;
    /* background-color: rgb(240, 188, 188); */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(84, 111, 183, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.data_sheet h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

table {
    width: 100%;
    table-layout:auto; /* Forces columns to have equal width */
    /* background-color: skyblue; */
}

th {
    background-color: midnightblue;
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 5px;
}

td {
    width: 20%;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    background-color: skyblue;
    font-size: 15px;
    padding: 5px;
}
