* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    /* background-color: #cf93cd; */
}

.container h2{
    font-family:cursive;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div {
    display: grid;
    place-items: center;
    height: 100px;
}

/* .input {
    width: 80%;
    display: inline-block;
    justify-content: center; 
    margin: 9px 0;
    padding: 7px;
} */

form {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    width: 400px; /* Adjust width as needed */
    margin: 30px auto; /* Center the form */
    padding: 0px;
}

input {
    width: 90%; /* Make inputs full-width */
    margin-bottom: 10px; /* Add spacing between elements */
    margin-left: 15px;
    padding: 10px; /* Better spacing inside */
    border: 5px solid black;
    /* border-padding: 20px; */
    outline: none;
}

button {
    width: 30%; 
    margin-bottom: 10px;
    margin-left: 135px; 
    padding: 10px; 
    justify-items: center;
    justify-content: center;
    background-color: #f7e269; 
    color: rgb(0, 4, 255); 
    font-size: 15px;
    border: none; /* Remove borders */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dcb70f; /* Add a highlight color on hover */
}

.blood {
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgb(218, 146, 146);
    height: 80px;
    z-index: 1;
}

.header {
    position: relative;
    line-height: 80px;
    margin: 10px 0px 10px 320px;
    padding-top: 20px; 
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

ul {
    position: relative;
    float: right;
    margin-right: 20px;
}

ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

ul li a{
    font-size: 17px;
    color: white;
}

.user_label {
    display: inline-block;
    width: 100px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color:rgb(47, 8, 8);
}

.username_inp {
    display: flex;
    flex-direction: row;
    /* padding: 0px; */
}

.pass_label {
    display: inline-block;
    width: 100px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color:rgb(47, 8, 8);
}

.password_inp {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
}